.offer-content {
  text-align: center;
  color: rgb(245, 222, 165);
  padding-top: 50px;
  z-index: 1;
  position: absolute;
  margin: auto;
  justify-self: center;
  margin-left: 62px;
}
.offer-title {
  letter-spacing: 2px;
  font-weight: 600;
}
.pattern-img {
  width: 110px;
  height: 40px;
  margin: auto;
}
.pattern-img > img {
  object-fit: contain;
  width: 100%;
}
.inner-content {
  font-size: 50px;
  color: white;
}
.para-con {
  padding: 20px 0px;
  color: whitesmoke;
  font-size: 18px;
}
.para-con > p {
  padding: 5px 0px;
}
.offer-card {
  /* background-color: aliceblue; */
  width: min(1340px, 100%);
  margin: auto;
  display: grid;
  top: 212px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-rows: 1fr;
  gap: 50px;
  height: 80vh;
  position: relative;
  align-items: flex-start;
}

.first-card {
  padding: 0px 75px;
  position: relative;
}

.second-card {
  padding: 0px 75px;
  margin-top: 150px;
  position: relative;
}

.third-card {
  padding: 0px 75px;
  position: relative;
}
.offer-section {
  padding-top: 100;
  width: 100%;
  padding-bottom: 50px;
  position: relative;
  text-align: center;
}
.offer-inner {
  display: grid;
}

.left-bot {
  position: absolute;
  z-index: 0;
  top: 500px;
}
.right-tops {
  position: absolute;
  right: 0;
  z-index: 0;
}
.cross-pattern {
  width: 100%;
  height: 100vh;
}
.first__img img {
  position: absolute;
  height: 45vh;
  margin-left: -8vh;
}
.first-img img {
  position: relative;
  margin-top: 40px;
}

.first__img img {
  position: absolute;
  height: 45vh;
  margin-left: -8vh;

  transition: transform 0.5s ease; /* Added for smooth animation */
}
.first-img img {
  position: relative;
  margin-top: 40px;
}

.cross-pattern:hover .first__img img {
  transform: rotateY(180deg); /* Rotate the image on hover */
}
