.offer-section {
  padding-top: 50px;
  width: 100%;
  padding-bottom: 50px;
  position: relative;
  text-align: center;
  height: 860px;
}

.offer-inner {
  display: grid;
}

.left-bot {
  position: absolute;
  z-index: 0;
  top: 635px;
  animation: bounce 2s infinite alternate;
}

.right-tops {
  position: absolute;
  right: 0;
  z-index: 0;
  animation: bounce 2s infinite alternate;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-28px);
  }
}

.offer-content {
  text-align: center;
  color: rgb(245, 222, 165);
  padding-top: 50px;
  z-index: 1;
  position: absolute;
  margin: auto;
  justify-self: center;
  margin-left: 62px;
}
.offer-title {
  letter-spacing: 2px;
  font-weight: 600;
}
.pattern-img {
  width: 110px;
  height: 40px;
  margin: auto;
}
.pattern-img > img {
  object-fit: contain;
  width: 100%;
}
.inner-content {
  font-size: 50px;
  color: white;
}
.para-con {
  padding: 20px 0px;
  color: whitesmoke;
  font-size: 18px;
}
.para-con > p {
  padding: 5px 0px;
}
.offer-card {
  width: min(1340px, 100%);
  margin: auto;
  display: grid;
  top: 212px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-rows: 1fr;
  gap: 50px;
  height: 652px;
  position: relative;
  align-items: flex-start;
  color: white;
}
.view {
  z-index: 1;
  position: relative;
}
.first-card {
  position: relative;
  width: 68%;
  overflow: hidden;
  justify-self: center;
}
.first-card > h3 {
  padding: 25px 0px;
  font-size: 35px;
  font-weight: lighter;
}

.view > span {
  font-size: 18px;
  color: rgb(245, 222, 165);
}
.view > span:after {
  display: block;
  content: "";
  border-bottom: double 3px rgb(245, 222, 165);
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
  border-width: 4px;
}
span:hover:after {
  transform: scaleX(0.3);
}
.view > span:hover {
  color: white;
}

.second {
  margin-top: 150px;
}

.cross-pattern {
  width: 100%;
  height: 400px;
}

.offer-card .first-card .cross-pattern::after {
background: linear-gradient(90deg, hsla(0, 0%, 100%, 0) 0, hsla(0, 0%, 100%, 0.4)) repeat;
    content: "";
    display: block;
    height: 77%;
    position: absolute;
    top: 0;
    transform: skewX(-25deg);
    width: 50%;
    z-index: 1;
    left: -85%;
}
.offer-card .first-card:hover .cross-pattern::after {
  animation: shine 1s;
}
@keyframes shine {
  0% {
    width: 100%;
  }
  100% {
    left: 125%;
  }
}

.first-img11 img {
  position: relative;
  margin-top: 30px;
}

.first__img img {
  position: absolute;
      height: 396px;
    margin-left: -68px;
  transition: transform 0.5s ease;
}

.first-card:hover .first__img img {
  transform: rotateY(180deg);
}
.cross-pattern .first__img::before {
  bottom: 0;
  content: "";
  left: 50%;
  margin-left: -70px;
  position: absolute;
  top: 0;
  transition: all 0.5s ease;
  width: 144px;
}
.first-card:hover .cross-pattern::before {
  transition-delay: 3s;
  transform: rotateY(180deg);
}
