.bestspace-section {
  padding: 0px 0px 100px;
  width: 100%;
  position: relative;
  text-align: center;
   background-color: #171819;
   
}

.best-main {
  width: min(1410px, 100%);
  display: grid;
  margin: auto;
  z-index: 10;
  position: relative;
  padding: 80px 15px 100px;
  background-color: black;
}
.best-container {
  width: 1170px;
  padding: 0px 15px;
  margin: 0px 105px;
}
.best-container:before {
  background: url("https://mediacity.co.in/delici/static/media/pattern-9.f48b0172fd5efab9684e.svg")
    50% repeat;
  content: "";
  height: 100%;
  position: absolute;
  top: 0;
  left: 0px;
  width: 15px;
}
.best-container:after {
  background: url("https://mediacity.co.in/delici/static/media/pattern-9.f48b0172fd5efab9684e.svg")
    50% repeat;
  content: "";
  height: 100%;
  position: absolute;
  top: 0;
  right: 0px;
  width: 15px;
}
.best-card {
  width: min(1170px, 100%);
  margin: auto;
  display: grid;
  top: 0;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  gap: 50px;
  position: relative;
  align-items: flex-start;
  color: white;
}
.cards-one {
      /* position: relative; */
    width: 23%;
    /* overflow: hidden; */
    background-color: #151616;
    height: 290px;
    margin-bottom: 50px;

}
.cards-one > .hygi {
    font-size: 24px;
    padding: 15px 0px;
    font-weight: lighter;
    color: white;
    font-family: math;
    transform: scaleY(0.9);
    font-weight: 100;
    padding: 24px;
}
.cards-one .first-image img {
  transition: transform 0.1s ;
}

.cards-one:hover .first-image img {
  transform: rotate(360deg);
}
.cros-patterns{
 padding-top: 40px;
}

